body{
  background-size: 100%;
  background: url(./img/Back.png); 
  color: #fff; 
  background-attachment: fixed; 
  background-repeat: no-repeat;
}

.nav {
  text-align: center;
}

.main-menu {
  width: 1400px;
  list-style: none;
  padding: 0;
  font-size: 20px;
  margin: 0 auto;
  list-style-type: none;
}

.main-menu li {
  display: inline-block;
  padding: 0;
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 60px;
}

.main-menu a {
  color: #1A5F4C;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  padding: 10px;
  margin: 0;
  outline: none;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-menu a:hover {
  color: #88FFDE;
}

.menulogo{
  position: relative;
  display: block;
  margin-left: -20px;
  margin-top: -50px;
  margin-bottom: -50px;
}

/*Главная часть*/
.about-us{
  color: #1A5F4C;
  margin: 10%;
}

.title{
  font-family: 'Amatic SC', cursive;
  font-size: 75pt;
  font-weight: 700;
  margin-bottom: 10%;
}

.subtitle{
  font-family: 'Rubik', sans-serif;
  font-size: 20pt;
  margin-top: -90px;
  font-weight: 500;
  margin-bottom: 5%;
}

.description{
  font-family: 'Rubik', sans-serif;
  font-size: 15pt;
  line-height: 160%;
  margin-bottom: 5%;

}
.more{
  font-family: 'Rubik', cursive;
  text-decoration: none;
  text-decoration: underline  ;
  color: #1A5F4C;
  font-size: 20pt;
  font-weight: 700;
}


.footer{
  margin-top: 100px;
  background: #1A5F4C;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px 'Rubik';
  padding: 55px 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer .footer-left{
  width: 40%;
}

/* Footer links */

.footer .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer .footer-company-name{
  color:  #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer .footer-center{
  width: 35%;
}

.footer .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer .footer-right{
  width: 20%;
}

.footer .footer-company-about{
  line-height: 20px;
  color:  #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .footer-icons{
  margin-top: 25px;
}

.footer .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #fff;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1560px) {
  .main-menu{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .button-wrapper{
    top: 570px;
  }
}

@media (max-width: 880px) {
  .about-us{
    margin-top: -500px;
    height: 7000px;
  }
  .button-wrapper{
    display: none;
    position: absolute;
    top: 0px !important;
    left: 0px !important;
  }
  .a-button{
    margin-top: 0px;
    position: absolute;
    top: 0px !important;
    left: 0px !important;
  }
  .main-menu{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .menulogo{
    display: none;
  }
  .main_page{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .model{
    margin-bottom: 1000px;
  }
  .a-button{
    position: relative;
  }
  .about-us_desc{
    position: absolute;
    margin-top: 500px;
  }
  .title{
    font-size: 60px;
  }

  .subtitle{
    margin-top: -30px;
    font-size: 20px;
  }

  .description{
    padding-right: 60%;
  }

  .footer{
    font: bold 14px sans-serif;
  }

  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer .footer-center i{
    margin-left: 0;
  }

}