body{
  background-size: 100%;
  background: url(./img/Back.png); 
  color: #fff; 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
}

.nav {
  text-align: center;
}

.main-menu {
  width: 1400px;
  list-style: none;
  padding: 0;
  font-size: 20px;
  margin: 0 auto;
  list-style-type: none;
}

.main-menu li {
  display: inline-block;
  padding: 0;
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 60px;
}

.main-menu a {
  color: white;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  padding: 10px;
  margin: 0;
  outline: none;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-menu a:hover {
  color: #88FFDE;
}

.menulogo{
  position: relative;
  display: block;
  margin-left: -20px;
  margin-top: -50px;
  margin-bottom: -50px;
}

.wrapper{
  text-align: center;
  color: white;
}
.title{
  font-family: 'Amatic SC', cursive;
  font-size: 140pt;
  font-weight: 700;
}

.subtitle{
  font-family: 'Rubik', sans-serif;
  font-size: 20pt;
  margin-top: -150px;
  margin-bottom: 300px;
}

/* CSS */
div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  line-height: 50px;
  width: 500px !important;
  height: 50px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  margin-top: -300px;
  margin-bottom: 100px;
  font-size: 18pt;
  width: 250px;
  cursor: pointer;
}

.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.7);
  border-bottom-color: rgba(255,255,255,0.7);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #36D1A7 50%, #1A5F4C 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.footer{
  background: #1A5F4C;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 105%;
  text-align: left;
  font: bold 16px 'Rubik';
  padding: 55px 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer .footer-left{
  width: 40%;
}

/* Footer links */

.footer .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer .footer-company-name{
  color:  #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer .footer-center{
  width: 35%;
}

.footer .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer .footer-right{
  width: 20%;
}

.footer .footer-company-about{
  line-height: 20px;
  color:  #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .footer-icons{
  margin-top: 25px;
}

.footer .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #fff;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 1560px) {
  .main-menu{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

}

@media (max-width: 880px) {
  .main-menu{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .menulogo{
    display: none;
  }
  .main_page{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .title{
    font-size: 90px;
    margin-bottom: 40px;
  }

  .subtitle{
    margin-top: 70px;
    font-size: 20px;
  }

  .footer{
    font: bold 14px sans-serif;
  }

  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer .footer-center i{
    margin-left: 0;
  }

}